.titre{
    color: steelblue;
    text-align: center;
    font-size: 25px;
    letter-spacing: 3px;
    font-family: 'Noto Serif';
}

.cadre-titre{
    margin: auto;
    width: 30%;
    background-color: rgb(221, 223, 223);
    border-radius: 3px;
}
.content{
    margin-left: 150px;
    margin-right: 150px;
}