body
{
	margin: 10px 0 ;
	padding: 0 ;
	text-align: center ;
	font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
	background: #dea ;
}

div#conteneur
{
	width: 770px ;
	margin: 0 auto ;
	text-align: left ;
	border: 2px solid #ab4 ;
	background: #fff ;
}

h1#header
{
    max-width: auto;
	height: auto;
	background: url(img/ecole2.jpg) no-repeat left top ;
	margin: 0 ;
    object-fit: contain;
}

h1#header a
{
	width: 400px ;
	height: 70px ;
	display: block ;
	background: url(img/welcome.png) no-repeat ;
	position: relative ;
	left: 350px ;
	top: 15px ;
	text-indent: -5000px ;
}
div#contenu
{
	padding: 0 25px 0 100px ;
	background: url(img/welcome.png) no-repeat 15px 15px ;
}
ul#menu
{
	height: 35px ;
	margin: 0 ;
	padding: 0 ;
	background: url(img/bg_menu.gif) repeat-x 0 -25px ;
	list-style-type: none ;
}
ul#menu li
{
	float: left ;
	text-align: center ;
}
ul#menu li a
{
	width: 130px ;
	line-height: 25px ;
	font-size: 1.2em ;
	font-weight: bold ;
	letter-spacing: 2px ;
	color: #fff ;
	display: block ;
	text-decoration: none ;
	border-right: 2px solid #dea ;
}
ul#menu li a:hover
{
	background: url(img/bg_menu.gif) repeat-x 0 0 ;
}

div#contenu h2
{
	padding-left: 25px ;
	line-height: 25px ;
	font-size: 1.4em ;
	background: url(img/little_apple.gif) no-repeat left bottom ;
	color: #9b2 ;
	border-bottom: 1px solid #9b2 ;
}

div#contenu h3
{
	margin-left: 15px ;
	padding-left: 5px ;
	border-bottom: 1px solid #9b2 ;
	border-left: 3px solid #9b2 ;
	color: #9b2 ;
}

div#contenu p
{
	text-align: justify ;
	text-indent: 2em ;
	line-height: 1.7em ;
}

div#contenu a
{
	color: #8a0 ;
}

div#contenu a:hover
{
	color: #9b2 ;
}

p#footer
{
	margin: 0 ;
	padding-right: 10px ;
	line-height: 30px ;
	text-align: right ;
	color: #8a0 ;
}

pre
{
	overflow: auto ;
	background: #dea ;
	border: 2px solid #9b2 ;
	padding: 5px 0 0 5px ;
	font-size: 1.2em ;
}

pre span
{
	color: #560 ;
}

pre span.comment
{
	color: #b30000 ;
}
.ma-police{
    font-family: 'Noto Serif';
}