.corps{
    background-color: gainsboro;
}

.titre{
    color: red;
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: bold;
}

.calcul{
    color: red;
    text-align: center;
    font-size: 30px;
    letter-spacing: 10px;
    font-weight: 500;
}

#nb{
    background-color: transparent;
    text-align: center;
    font-size: 22px;
}

.consigne{
    color: gray;
    text-align: center;
    font-size: 15px;
}